<!-- views/home.ejs -->
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome, <%= username %>!</h1>
        <a href="/logout">Logout</a>
    </div>
</body>

</html>
